//@import url("http://fonts.googleapis.com/css?family=Lato");
//@import "./styles/*.styl"

html
  -webkit-app-region: drag
  //-webkit-user-select: none
  height 100%
  width 100%
  // Roboto is material-ui default
  //background-color rgba(255, 255, 255, 0.88)
  font-family Roboto, sans-serif
  color #222
  font-size 14px

body
  margin 0
  padding 0

my-box-shadow()
  box-shadow rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px

.members-memberItem
  margin-bottom 2px
  border-radius 4px

.members-modifiedAt
  margin-left 0.5rem

//
.appStatusBar
  display flex
  align-items center
  justify-content center
  width 100%
  height 22px
  background-color #222
  color white

.appNaviBar
  width 100%
  min-height 44px
  my-box-shadow()

.appLeftDrawer-header
  display flex
  align-items center
  background-color #222
  color white
  min-height 44px

.appLeftDrawer-body
  height 100%
  padding 0.5rem

.appBody
  display block
  padding 0.5rem

.appFooter
  display flex
  justify-content center
  align-items center
  color #aaa
  height 44px

.appNotif
  display block
  position fixed
  left 0
  bottom 0
  z-index 2000

.appNotif-container
  margin 0 0.5rem 0.5rem 0.5rem
  width 320px - 16px*2
  padding 0.5rem

  border-radius 3px
  opacity 0.88
  my-box-shadow()

.appNotif-container_notif
  color #4123ef
  border #d2d2ff solid 1px
  background-color #d2d2ff

.appNotif-container_warn
  color #ef4123
  border #ffd2d2 solid 1px
  background-color #ffd2d2

//
.section
  display flex
  align-items center

.section-text
  margin-left 0.5rem

//
.fadeInOut-enter
  opacity 0.01

.fadeInOut-enter.fadeInOut-enter-active
  opacity 0.88
  transition opacity 300ms ease-in

.fadeInOut-leave
  opacity 0.88

.fadeInOut-leave.fadeInOut-leave-active
  opacity 0.01
  transition: opacity 300ms ease-in
