//@import url("http://fonts.googleapis.com/css?family=Lato");
//@import "./styles/*.styl"

html
  -webkit-app-region: drag
  //-webkit-user-select: none
  height: 100%
  width: 100%
  // Roboto is material-ui default
  font-family Roboto, sans-serif
  background-color rgba(255, 255, 255, 0.88)

.app
  color rgba(0, 0, 0, 0.77)

.members-memberItem
  margin-bottom 2px
  border-radius 4px

.members-modifiedAt
  margin-left 0.5rem

